h3.question {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 100;
}

.editor-container {
  width: 900px;
  height: 540px;
  margin: 20px auto;
  position: relative;
}

#editor {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  flex-grow: 1; 
}

#editor {
  height: 90%;
  width: 100%;
  margin-bottom: 20px; /* Ensure space between the editor and button */
}

button {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#output {
  white-space: pre-wrap; /* Ensures the output keeps line breaks */
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 0px;
}

pre {
  color: #000000;
}

.left-section, .right-section {
  flex: 1; /* Each section takes up half of the width */
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

