body {
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

a {
    color: aqua;
}
li {
    color: aliceblue;
}


.errorlist li {
    color: black; /* Sets error message color to black */            
    font-weight: bold; /* Optional: make errors bold for emphasis */
}

