<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ace Editor Integration</title>
    <link rel="stylesheet" href="{% static 'css/code_style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha384-oi8lKHJqY5Gz6v6ojfvnby6Tg2FL9IS+0ErklLHzP0WI7F0TfGyDRD3H9mTFq4/x"
      crossorigin="anonymous"
    />
    
  </head>
  <body>
    <div class="container">
      <!-- Left section -->
      <div class="left-section">
        <div id="editor" style="height: 85%; width: 600px;">Write your program here</div>
        <div class="button-container">
          <button id="com-button">Find complexity</button>
          <button id="opt-button">Optimize code</button>
        </div>
      </div>

      <!-- Right section -->
      <div class="right-section">
        <pre id="output" style="padding: 10px;border-radius: 5px;margin: 0px;font-size:16px"></pre>
      </div>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>


<script>
  // Initialize Ace editor
  let editor = ace.edit("editor", {
    theme: "ace/theme/cobalt",
    mode: "ace/mode/python",
  });
  
  document.querySelector("#com-button").addEventListener("click", (event) => {
    event.preventDefault();
    const message = editor.getValue();
    if (message.length === 0) {
      return;
    }
    fetch('{% url "complexity_bot" %}', {  
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
    .then(response => response.json())
    .then(data => {
      document.querySelector('#output').textContent = `Complexity analysis: ${data.response}`;
    });
  });
  
  document.querySelector("#opt-button").addEventListener("click", (event) => {
    event.preventDefault(); // Prevent default form submission
    const message = editor.getValue();
    if (message.length === 0) {
      return;
    }
    // Send the message to the server
    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
    .then(response => response.json())
    .then(data => {
      const response = data.response;
      document.querySelector('#output').textContent = ` ${response}`;
    });
  }); 
</script>

  </body>
</html>
